@import url('http://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('http://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('http://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    --body-bg-color: #1d1d1d;
    --text-white:#ffffff;
    --logo-color:#CC6C06;
    font-family: -apple-system, BlinkMacSystemFont, "Sagoe UI", "Roboto", "Oxygen", "Helvetica Neue", Arial, sans-serif;
    background-color: var(--body-bg-color);
}

header{
    width: 100%;
    height: auto;
    background-color: var(--body-bg-color);
    border-bottom: 1px solid #3b3a3a;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-center{
    width: 90%;
    margin: auto;

}

nav{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-icon .fas{
    font-size: 2rem;
    color: white;
    cursor: pointer;
    transition: .3s linear;
}

.toggle-icon .fas:hover{
    transform: scale(0.8) rotate(-45deg);
    /* transition: .3s linear; */
}

.toggle-icon .times{
    display: none;
}

/*Links Container */
.links-container{
    height: 0;
    /* overflow: hidden; */
    transform: all .8s linear;
}

ul.nav-links{
    list-style: none;
}
ul.nav-links li{
    padding: 1rem 0;
    text-align: center;
}

ul.nav-links li a{
    text-decoration: none;
    color: #adabab;
    /* font-size: 1.5rem; */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
ul.nav-links li a:hover{
    color: var(--logo-color);
}
.active{
    font-size: 1.2rem;
    color: #cc6c06;
}
.social-icons{
    text-align: center;
}
.social-icons .fab{
    margin: 35px 10px;
    font: size 1.5rem;
    color: rgb(17, 16, 16);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.social-icons .fab:hover{
    color: var(--logo-color);
}
.resume{
    text-decoration: none;
    color: var(--logo-color);
    padding: 10px 30px;
    border: 1px solid var(--logo-border);
    display: none;
    transition: .3s linear all;
}
.resume:hover{
    transform: scale(0.8);
    background-color: var(--logo-color);
    color: var(--body-bg-color);
}

.section-1{
    position: relative;
}
.container{
    width: 88%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.about-desc{
    font-family: "Open Sans", "sans-serif";
    /* margin: 100px; */

}
.about-desc h2{
    width: 200px;
    font-size: 4rem;
    color: #fff;
    letter-spacing: 3px;
}
.about-desc #name{
    max-width: 600px;
    font-size:5rem;
    color: #CC6C06;
}
.about-desc #job{
    font: size 2.5rem;
    color: #fff;
}
.about-desc p{
    width: 300px;
    margin: 30px 0;
    color: #CC6C06;
    font-family: "La Belle Aurore", cursive;
    font: size 14px;
}
/* Contact Button */
.contact-button{
    text-decoration: none;
    margin: 25px 0 15px;
    color: #CC6C06;
    width: 100%;
    max-width: 220px;
    height: 50px;
    display: block;
    text-align: center;
    position: relative;
    letter-spacing: 3px;
    line-height: 50px;
}
.contact-button div{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.contact-button:hover div{
    transform: scale(0.9);
}
.contact-button span.bg{
    background-color: #CC6C06;
    position: absolute;
    width: 0;
    height: 100%;
    left: -5%;
    top: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: skewX(-19deg);
    -ms-transform: skewY(-19deg);
    transform: skewX(-19deg);
}
.contact-button:hover span.bg{
    width: 110%;
}
.contact-button span.base{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border: 1px solid #CC6C06;
}
.contact-button span.text{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.contact-button:hover span.text{
    color: #1d1d1d;
}










/* media query section */

@media screen and (min-width: 800px){
    header{
        display: flex;
        align-items: center;
        justify-content: center;
    } 
    
    .nav-center{
        max-width: 1170px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ul.nav-links{
        display: flex;
        height: auto;
    }
    ul.nav-links li{
        padding: 0;
        width: 100px;
    }
    .social-icons{
        display: none;
    }
    .toggle-icon{
        display: none;
    }
    .resume{
        display: block;
        border: 1px solid;
    }
}

